ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #1c355e;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.large {
    font-size: 20px;
}

li a:hover {
    background-color: #111;
}
/* Style the footer */
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 10px;
  background-color: #1c355e;
  text-align: center;
  color: white;
}

body{
  background-color: #1c355e;
}

.row equal{
     display: -webkit-box;
     display: -moz-box;
     display: -ms-flexbox;
     display: -webkit-flex;
     display: flex;
     flex:1 0 auto;
 }

div{
  margin: auto;
}

@viewport {
  width: device-width ;
  zoom: 1.0 ;
}

.headings{
  padding-left: 220px;
  padding-right: 220px
  padding-bottom: 30px;
  padding-top: 30px;
}

.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.center{
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-height: auto%;
}

h1{
font-family: 'Josefin Sans', sans-serif;
color: white;
font-size: 16px;
border: 3px;
padding-left: 10px;
}

p{
font-family: 'Josefin Sans', sans-serif;
color: white;
font-size: 14px;}

h2{
font-family: 'Josefin Sans', sans-serif;
color: white;
font-size: 16px;
}

p{
font-family: 'Josefin Sans', sans-serif;
color: white;
font-size: 14px;}

h3{
font-family: 'Josefin Sans', sans-serif;
color: white;
font-size: 16px;
}

p{
font-family: 'Josefin Sans', sans-serif;
color: white;
font-size: 14px;}

h4{
font-family: 'Josefin Sans', sans-serif;
color: white;
font-size: 16px;
}

p{
font-family: 'Josefin Sans', sans-serif;
color: white;
font-size: 14px;}
