  body {
     background-image: url("../images/killerwhale.gif");
     background-size: cover;
  }
  ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: #1c355e;
  }

  li {
      float: left;
  }

  li a {
      display: block;
      color: white;
      font-family: 'Josefin Sans', sans-serif;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
  }

  li a:hover {
      background-color: #111;
  }


  .home-header h1 {
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
  }

/*Style the button*/
  .button {
    background-color: white;
    font-family: 'Josefin Sans', sans-serif;
    color: #1c355e;
  }

  /* Style the footer */
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 10px;
    background-color: #1c355e;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
}

.footer label {
      color: white;
}
