.btn-twitter {
  background:#00acee;
  border-color: #009ad5;
}
.btn-facebook {
  background: #4868ac;
  border-color:#317446;
}
.btn-pintrest {
  background: #b62f26;
  border-color: #b62f26;
}

#mission {
  background-color: rgba(32, 35, 49, 0.9);
  color: #ddd;
}
